<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<p>
  <% if @user.ratings.empty? %>
    No ratings made.
  <% else %>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %>
  <% end %>
</p>

<h3>
  ratings
</h3>

<ul>
  <% @user.ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
